/* stylesheet */

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: solid red 5px; */
}

.header, .hero {
    display: flex;
    flex-direction: row;
    margin: auto 300px auto 300px;
    padding-bottom: 50px;
    gap: 15px;
}

.para { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header, .navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.first {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    padding-top: 30px;
}

.logostyle {
    font-size: 24px;
    color: #f9faf8;
    width: 200px;
    height: 100px;
}

.selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: palevioletred;
}

.main {
    color: #f9faf8;
    font-size: 32px;
}

.secondary {
    color: #e5e7eb;
    font-size: 16px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdd835;
    border-radius: 10px;
    border: solid white 2px;
    width: 140px;
    height: 40px;
    color: white;
    font-size: larger;
    font-weight: 600;
    
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgfoot {
    display: flex;
}


.review {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin: auto 300px 2px 300px;
}

.fan {
    display: flex;
    align-self: flex-end;
    font-size: 20px;
    font-style: italic;
    margin: 10px 300px auto 300px;
    
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.lucy {
    height: auto;
    width: 350px;
    border: solid white 10px;
}

.line1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.baby1 {
    height: auto;
    width: 100px;
    border: solid pink 10px;
}

.line2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.baby2 {
    height: 195px;
    width: 120px;
    border: solid pink 10px;
}

.line3 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.baby3 {
    height: 195px;
    width: 150px;
    border: solid pink 10px;
}

.line4 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.baby4 {
    height: 195px;
    width: 130px;
    border: solid pink 10px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    padding: 50px;
    border: solid lightblue 4px;
    border-radius: 10px;
    background: lightblue;
}
.prompt {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foot {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: palevioletred;
    color: white;
}
